{:tasks {dev
         {:doc "Enter development mode"
          :task (clojure (apply str "-M:dev -m nrepl.cmdline --middleware \"[cider.nrepl/cider-middleware]\" " (interpose " " *command-line-args*)))}
         dev-dbg
         {:doc "Enter debug + development mode"
          :task (clojure (apply str "-M:dev:dbg -m nrepl.cmdline --middleware \"[cider.nrepl/cider-middleware,flow-storm.nrepl.middleware/wrap-flow-storm]\" " (interpose " " *command-line-args*)))}
         fmt-check
         {:doc "Check code format"
          :task (clojure "-T:cljfmt" "check")}
         fmt-fix
         {:doc "Fix code format"
          :task (clojure "-T:cljfmt" "fix")}
         rct
         {:doc  "Run rct"
          :task (clojure "-M:dev:test --focus :rct")}
         test
         {:doc  "Run all tests"
          :task (clojure (apply str "-M:dev:test " (interpose " " *command-line-args*)))}
         gen-clr-rct
         {:doc  "Generate CLR-compatible RCT test file from ^:rct/test blocks"
          :task (clojure "-M:dev -m rct-clr.gen -o test/rct_clr/rct_generated_test.cljc -n rct-clr.rct-generated-test")}
         clr-test
         {:doc  "Regenerate RCT tests, clear deps cache, and run CLR tests"
          :task (do (run 'gen-clr-rct)
                    (shell "rm -rf deps build")
                    (shell "nos" "dotnet/run-tests"))}}}
